/* GLOBAL */

#headercontainer{
	width: 95%;
	height: 10%;
	margin: 0 auto;
	background-color: #516591;
}

#desktoplogo{
	width: 99%;
	height: auto;
	background-image: inherit;
}

#mobilelogo{
	display: none;
}

#mobilevideo{
	display: none;
}

header {
	background-color: #516591;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

header nav {
	float: right;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin-left: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

a:hover {
	font-size: 1.5em;
	font-weight: bold;
	transition: all 0.5s;
}	

li:hover {
	font-size: 1.25em;
	font-weight: bold;
	color: #98BAF9;
	text-transform: uppercase;
	padding: 1%;
	transition: all 0.5s;
}

body {
	background: white;
	color: black;
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;

}

.mantra{
	height: 10%;
	background-color: lightgray;
	padding: 3%;
	text-align: center;
	font-style: italic;
	font-size: 1.4em;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

h4{
	font-style: italic;
	font-size: .75em;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/* HOMEPAGE */

.desktopvideo{
	display: block;
	align: center;
	margin: 2%;
}

.mobilevideo{
	display: none;
}

#homepagecontainer{
	background-color: white;
	overflow: hidden;
	padding-left: 4%;
	padding-right: 4%;
}

h1{
	text-align: center
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;

}

/* BLOG */

.bloglist{
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	margin: 0 0 2% 2%;
	font-weight: bold;
}

p.blog{
margin-left: 4%;
margin-right: 4%;
font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;

}

/* Find a Board Page */

span{
	font-size: 2em;
	color: #98BAF9;
	font-weight: bold;
}

input{
	display: block;
	margin: 2%;	
	width: 50%;
}

input[type=text]:focus {
    border-color:#333;
}    

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

select{
	display: block;
	margin: 2%;
	width: 50%;
}

#findaboardbutton{
	margin: 2%;
	margin-left: 7%;
	width: 20%;
	height: 3%;
	padding: 2%;
	background-color: #98BAF9;
  	border: 1px solid #666;
  	color: white;
  	border-radius: 10%;
}

#surveycontainer{
	background-color: #516591;
	padding: 5%;
}

@media screen and (max-width: 700px) {

	header nav{
		float: none;
	}

	header nav a{
		display: block;
		padding: 2%;
	}

	a:hover {
	font-size: 1.5em;
	font-weight: bold;
	padding: 2%;
	}	

	#mobilelogo{
		display: block;
		width: 99%;
		height: auto;
		background-image: inherit;
	}

	.mobilevideo{
		display: block;
		width: 300px;
		height: auto;
	}

	#desktoplogo{
		display: none;
	}	

	.desktopvideo{
		display: none;
	}

	input{
		width: 70%;
	}	

	select{
		width: 70%;
	}
}
